  .my-header { 
    @apply(--paper-font-headline); 
    font-size:24px;

    }
paper-card{
    max-width:800px;
    width:730px;
    font-size:19px;
    margin-top:10px;
}

@media all and (max-width: 700px) {
paper-card {
  font-size: 13px;

}
  
}

